body{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
img{
    max-width: 100%;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.navbar-img{
    width: 130px;
    margin-left: 20px;
}
.navbar ul{
    margin-left: 75px;
}
.navbar ul li{
margin-left: 25px;
}
.navbar ul a{
    font-weight: 500;
    font-size: 1.6 rem;
    color: black;
} 
.nav-item2 li
{
    margin-left: 50px;
}
.btn-1{
    background: none;
    border: 1.5px solid;
    width: 180px;
}
.header-hero-video video{
    margin-top: 98px;
    margin-left: -450px;
}
.header-right{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.header-content h1{
    font-weight: 400;
    font-size: 48px;
    line-height: 1.2;
}
.header-content h1 span{
    font-weight: 800;
    font-size: 48px;
}
.header-content-2{
    margin-top: 60px;
    display:flex;
}
.btn-2{
    background-color: black;
    color: #ffff;
    width: 180px;
    height: 50px;
    border-radius: 2px;
}
.header-content-2 p{
    margin-left: 10px;
    color: black;
}
.header-content-2 a{
    color: black;
    text-decoration: underline;
}
.client-area{
    background-color: black;
}
.client-logo{
    margin-left: 105px;
    padding:80px 0;
}
.client-logo-img{
    width: 190px;
    height: 89px;
}
.client-logo p{
    margin-top: 40px;
    line-height: 1.5;
    color: #ffff;
  
}
.btn-clients
{
    border: 1.5px solid #ffff;
    margin-top: 20px;
}
.how-it-works-top{
    display: flex;
    align-items: center;
}
.how-it-work-content a{
    text-decoration: none;
    color: black;
}
.how-it-works-right{
    height: 60vh;
    width: 65vw;
    background-image: url(/Assets/Img/homepage-howitworks-brushstroke-right.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    
}
.code-snippet{
    display: flex;
    justify-content:center;
}
.code-snippet-img{
    margin-top: 40px;
}
.user-experience{
    height: 90vh;
    width: 60vw;
    background-image: url(/Assets/Img/homepage-howitworks-brushstroke-left.webp);
    background-repeat: no-repeat;
    background-size: 50vw 75vh;
    background-position: left bottom;
    padding: 60px 0;
}
.financial-services{
    padding-top: 150px;
}
.services-heading h1{
    margin-bottom: 1.8em;
    line-height: 1.5;
    font-weight: 700;
}
.grid-container{
    display: flex;
    margin: 30px;
}
.grid-image img{
    height: 110px;
    width: 110px;
}
.grid-content{
    max-width: 300px;
}
.grid-content a{
    text-decoration: none;
    color: black;
}
.fin-inst-content{
    margin-left: 70px;
}
.footer-area{
    padding: 100px 0;
    background-color: black;
    color: #ffff;
    font-size: 14px;
}
.footer-top{
    margin: 100px 0;
}
.footer-area li{
    margin-top: 12px;
}
.footer-area a{
    color: #ffff;
    text-decoration: none;
}
.btn-3{
    background-color: #ffff;
    color: black;
    border: 1.5px solid #ffff;
}.footer-right{
    display: block;
}
.dropdown-menu2{
    background-color: black;
}
@media (max-width:768px){
    .header-hero-video{
        display: none;
    }
}
@media (max-width:768px){
    .header-hero-img{
        display: block;
        margin-top: 100px;
    }
}
@media (max-width:768px){
    .header-content {
        max-width: 100%;
    }
}

@media (max-width:768px){
    .user-experience  {
        display: none;
    }
}