@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
body{
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 100%;
}
ul.dropdown-menu.show{
    width: 600px !important; 
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
.navbar-img{
    width: 130px;
    margin-left: 20px;
}
.navbar ul{
    margin-left: 75px;
}
.navbar ul li{
margin-left: 25px;
}
.navbar ul a{
    font-weight: 500;
    font-size: 1.6 rem;
    color: black;
} 
.nav-item2 li
{
    margin-left: 50px;
}
.btn-1{
    background: none;
    border: 1.5px solid;
    width: 180px;
    height: 50px; 
}

.header-hero-video video{
    margin-top: 98px;
    margin-left: -450px;
}
.header-right{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.header-content h1{
    font-weight: 400;
    font-size: 48px;
    line-height: 1.2;
}
.header-content h1 span{
    font-weight: 800;
    font-size: 48px;
}
.header-content-2{
    margin-top: 60px;
    display:flex;
}
.btn-2{
    background-color: black;
    color: #ffff;
    width: 180px;
    height: 50px;
    border-radius: 2px;
}
.header-content-2 p{
    margin-left: 10px;
    color: black;
}
.header-content-2 a{
    color: black;
    text-decoration: underline;
}
.client-area{
    background-color: black;
}
.client-logo{
    margin-left:auto;
    padding:80px 0;
}
.client-logo-img{
    width: 190px;
    height: 89px;
}
.client-logo p{
    margin-top: 40px;
    line-height: 1.5;
    color: #ffff;
  
}

.btn-clients
{
    border: 1.5px solid #ffff;
    margin-top: 20px;
}
.how-it-works-top{
    display: flex;
    align-items: center;
}
.how-it-work-content a{
    text-decoration: none;
    color: black;
}
.how-it-works-right{
    height: 60vh;
    width: 65vw;
    background-image: url(/Assets/Img/homepage-howitworks-brushstroke-right.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    
}
.code-snippet{
    display: flex;
    justify-content:center;
    color: #ffff;
    margin-top: 80px;
    margin-right: 0px;
    width: auto;
    padding: 20px;
    
}
.asdf{
    overflow-x: hidden;
    background-color: black;
}
.code-snippet-img{
    margin-top: 40px;
}
.user-experience{
    height: 90vh;
    width: 60vw;
    background-image: url(/Assets/Img/homepage-howitworks-brushstroke-left.webp);
    background-repeat: no-repeat;
    background-size: 50vw 75vh;
    background-position: left bottom;
    padding: 60px 0;
}
.financial-services{
    padding-top: 150px;
}
.services-heading h1{
    margin-bottom: 1.8em;
    line-height: 1.5;
    font-weight: 700;
}
.grid-container{
    display: flex;
    margin: 30px;
}
.grid-image img{
    height: 110px;
    width: 110px;
}
.grid-content{
    max-width: 300px;
}
.grid-content a{
    text-decoration: none;
    color: black;
}
.fin-inst-content{
    margin-left: auto;
}
.fin-inst-content a{
    text-decoration: none;
    color: black;
}
.footer-area{
    padding: 100px 80px;
    background-color: black;
    color: #ffff;
    font-size: 12px;
}
.footer-top{
    margin: 100px 0;
}
.footer-area li{
    margin-top: 12px;
}
.footer-area a{
    color: #ffff;
    text-decoration: none;
}
.btn-3{
    background-color: #ffff;
    color: black;
    border: 1.5px solid #ffff;
}.footer-right{
    display: block;
}
.dropdown-menu2{
    background-color: black;
}
.grid-content h4{
    margin-bottom: 1.3rem;
}
.grid-image{
    margin-bottom: 1.3rem;
}

.btn2{
    border: none;
    background-color: black;
    color: #ffff;
    width: 180px;
    height: 50px;
    border-radius: 2px;
}
.button {

   
    transition: all 0.5s;
    cursor: pointer;
    
    
  }
  
  .button span {
    cursor: pointer;
    display: inline;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .button:hover{
    background-color: hsl(170, 81%, 34%);
    color: #ffff;
  }
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }





  .linkhov {

   
    transition: all 0.5s;
    cursor: pointer;
    
    
  }
  
  .linkhov span {
    cursor: pointer;
    display: inline;
    position: relative;
    transition: 0.5s;
  }
  
  .linkhov span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .linkhov:hover{
    color: #6e6ee0;
  }
  .linkhov:hover span {
    padding-right: 25px;
  }
  
  .linkhov:hover span:after {
    opacity: 1;
    right: 0;
  }







  .container1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: black;
  }
  
  .container1 > div {
    height: 210px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
  }
  .client-para{
  
    color: white;
  }
  .container1 > div:nth-of-type(1) {
    grid-column: 1 / 3;
  }
  
  .container1 > div:nth-of-type(6) {
    grid-column: 3 / 5;
  }
  
  .container1 > div:nth-of-type(9) {
    grid-column: 4 / 5;
  }
  
  .container1 > div:nth-of-type(10) {
    grid-column: 1 / 3;
  }
  
  .bg1 {
    background: url('/Assets/Img/homepage-hero-bottom.webp');
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-position: -1300px -90px;
  }
  
  .bg2 {
    background: url('/Assets/Img/homepage-social-proof-brush-right-top.webp');
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-position:-90px -320px ;
  }
  .bg3{
      background: url('/Assets/Img/homepage-social-proof-brush-left.webp');
      height: 210px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-repeat: no-repeat;
      background-position:-90px -320px;
  }
  .bg4{
      background: url('/Assets/Img/homepage-social-proof-brush-right-bottom.webp');
      
  }
  .cddf{
    position: relative;
    z-index: 2;
  }
  .client-area{
    position: relative;
    z-index: 3;
    margin-top: -500px;
  }
  







@media (max-width:768px){
    .header-hero-video{
        display: none;
    }
}

@media (max-width:768px){
    .container1{
        display: none;
    }
}
@media (max-width:768px){
    .client-area{
        margin-top: 0;
    }
}
@media (max-width:768px){
    .header-hero-img{
        display: block;
        margin-top: 100px;
    }
}
@media (max-width:768px){
    .header-content {
        max-width: 100%;
    }
}

@media (max-width:768px){
    .user-experience  {
        display: none;
    }
}